
.containerPicturesProject{
    

       position:fixed;
        background-color: rgba(0, 0, 0, 0.926);
        width: 100vw;
        height: 100vh;
        top: 0px;
        object-fit: contain;   
        max-width: 100vw;
        max-height: 100vh;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        z-index: 400;
                
}

.sizeCorousel{
  


        width: 70%;
        height: 100vh;
        max-height: 100vh;
        margin: 0 auto;
       
     

}



.img{

    object-fit: contain;
    max-height: 100vh;
    margin: auto auto;
}



.x-Icon{

font-size: 30px;
position: absolute;
right: 30px;
top:30px;
color: rgb(114, 111, 111);
cursor: pointer;
z-index: 400;       
           
        
}

span.x-Icon:hover{

  
    color: rgb(250, 244, 244);

}

.noDisplay{

    display: none;
}

@media only screen and (max-width: 600px) {

   

.containerPicturesProject{
    

    position:fixed;
     background-color: rgba(0, 0, 0, 0.926);
     width: 100vw;
     height: 100vh;
     z-index: 1000;
     top: 0px;
     right: 0px;
     left: 0px;
     bottom: 0px;
     object-fit: contain;
     max-width: 100vw;
     max-height: 100vh;
  
}

.sizeCorousel{



     width: 100vw;
     height: 100vh;
     max-height: 100vh;
     max-width: 100vw;
     margin: 0 auto;
     
    

}



.img{

 object-fit: contain;
 max-height: 100vh;
 max-width: 100%;
 
}



}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 5em;
  width: 5em;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%; 
  background-image: none;
  background-color: rgba(163, 158, 158, 0.487);
  padding-top: -1em;

  @media screen and (max-width:600px) {
    height: 3em;
    width: 3em;
   
    
  }
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 5rem;
  color: rgb(0, 0, 0);
  @media screen and (max-width:600px) {
    font-size: 3.1rem;
   
  }
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 5rem;
  color: rgb(0, 0, 0);
  @media screen and (max-width:600px) {
    font-size:3.1rem;
  }
}



