@import '../../Components/Header/Navbar.scss';
.figureCard{

@include fontType4;
border-radius: 10px;
height: 450px;
width:300px ;
min-width:300px ;
padding-left: 0px;
padding-right: 0px;
background-color: rgba(16, 15, 15, 0.803);
-webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
color:white;
position: relative;
margin: 4rem 4rem;
@media (max-width: 300px ){

  overflow: hidden;
    width:280px ;
    min-width:280px ;
    height: 400px;
}


/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(80, 76, 76); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #334d8f; 
}


        div.textContainer{

             max-height: 230px;
             text-align: justify;
             text-indent: 2px;
             line-height: 1.5em;
             padding: 8px;
             overflow: scroll;
             overflow-x: hidden;
           


            span{
                
                    position: absolute;
                    top: 12em;
                    background-color: rgb(32, 133, 242);
                    border-radius: 5px;
                    padding: 5px;
                    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);

                    @media (max-width: 281px ){

                        top:10em;


                    }

            }

        }


       








}

.imageCard{


    width: 100%;
    border-bottom-left-radius: 0px;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    transition: 0.5s ease-out ;
    height: 22rem;
}

.videoContainer{
        
    overflow: hidden;    
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    padding: 0px;
    height: 22rem;
    background-position: center;
   
   
    .imageVideo{

 
    border-bottom-left-radius: 0px;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    transition: 0.5s ease-out ;    
    height: 100%;
    margin: 0px;
    background-color: black;    
        }

}
@media (min-width: 575.98px)  {    

    .imageCard:hover{
        -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
        transform: rotate(-3deg) scale(1.1,1.1);
    
    
    border: solid rgba(0, 0, 0, 0.618);
    border-width: 1px;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out ;
             
          


}
.videoContainer:hover{
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
    transform: rotate(-3deg) scale(1.1,1.1);
    border: solid rgba(0, 0, 0, 0.618);
    border-width: 1px;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out ;
   
        


}

}




/*MEDIA QUERIES*/


@media only screen and (max-width: 600px) {

    
.figureCard{

margin-top: 15px;

}
        

}

.disablePointerEvents{

   
        pointer-events: none;
    

}