@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
header {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/header2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.titleHeader {
  margin-top: calc(80vh/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #040404;
}

.titleHeader h1 {
  font-family: 'Prata', serif;
  font-size: 20px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: normal;
  margin-bottom: 5px;
  height: 1em;
  width: 8em;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.535);
  text-align: center;
  padding-bottom: 1em;
  padding-top: 0.1em;
  width: 80%;
}

.titleHeader h2 {
  font-family: 'Prata', serif;
  font-size: 2px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5px;
  background-color: rgba(0, 255, 255, 0.631);
  border-radius: 50px;
  padding: 0.1em 2em;
}

.titleHeader div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titleHeader div h3 {
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2px;
  border-radius: 50px;
  background-color: rgba(11, 143, 143, 0.878);
  padding: 0.3em 0.3em;
  cursor: pointer;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes slide {
  from {
    border: solid #090909 0.5px;
  }
  to {
    border: solid white 0.5px;
    color: white;
  }
}

@keyframes slide {
  from {
    border: solid #090909 0.5px;
  }
  to {
    border: solid white 0.5px;
    color: white;
  }
}

.titleHeader div span {
  color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  top: -0.3em;
  cursor: pointer;
  -webkit-animation-name: goDown;
          animation-name: goDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes goDown {
  from {
    margin-top: 0.1em;
  }
  to {
    margin-top: 0.2em;
  }
}

@keyframes goDown {
  from {
    margin-top: 0.1em;
  }
  to {
    margin-top: 0.2em;
  }
}

@media (max-width: 575.98px) {
  .titleHeader {
    margin-top: calc(90vh/2);
  }
  .titleHeader h1 {
    font-size: clamp(28px, 10.5vw, 10.5vw);
  }
  .titleHeader h2 {
    font-size: clamp(18px, 3vw, 3vw);
  }
  .titleHeader div h3, .titleHeader div span {
    font-size: clamp(15px, 3vw, 3vw);
  }
}

@media (min-width: 575.98px) and (max-width: 768px) {
  .titleHeader {
    margin-top: calc(90vh/2);
  }
  .titleHeader h1 {
    font-size: clamp(44px, 8vw, 8vw);
  }
  .titleHeader h2 {
    font-size: clamp(18px, 3vw, 3vw);
  }
  .titleHeader div h3, .titleHeader div span {
    font-size: clamp(15px, 3vw, 3vw);
  }
}

@media (min-width: 769px) {
  .titleHeader {
    margin-top: calc(80vh/2);
  }
  .titleHeader h1 {
    font-size: clamp(61px, 6vw, 6vw);
  }
  .titleHeader h2 {
    font-size: clamp(23px, 2.5vw, 2.5vw);
  }
  .titleHeader div h3, .titleHeader div span {
    font-size: clamp(23px, 1.8vw, 1.8vw);
  }
}

.noDisplay {
  display: none;
}

header div h3:hover {
  background-color: rgba(248, 248, 248, 0.878);
  border: solid rgba(11, 143, 143, 0.878);
  border-width: 1px;
  color: rgba(11, 143, 143, 0.878);
  -webkit-animation-iteration-count: 0;
          animation-iteration-count: 0;
}

.figureCard {
  font-family: 'Oswald', sans-serif;
  border-radius: 10px;
  height: 450px;
  width: 300px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgba(16, 15, 15, 0.803);
  -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
  color: white;
  position: relative;
  margin: 1rem 1rem;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

@media (max-width: 300px) {
  .figureCard {
    overflow: hidden;
  }
}

.figureCard ::-webkit-scrollbar {
  width: 12px;
}

.figureCard ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.figureCard ::-webkit-scrollbar-thumb {
  background: #504c4c;
  border-radius: 10px;
}

.figureCard ::-webkit-scrollbar-thumb:hover {
  background: #334d8f;
}

.figureCard div.textContainer {
  max-height: 230px;
  text-align: justify;
  text-indent: 2px;
  line-height: 1.5em;
  padding: 8px;
  overflow: scroll;
  overflow-x: hidden;
}

.figureCard div.textContainer span {
  position: absolute;
  top: 12em;
  background-color: #2085f2;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
}

@media (max-width: 281px) {
  .figureCard div.textContainer span {
    top: 10em;
  }
}

.imageCard {
  width: 100%;
  border-bottom-left-radius: 0px;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  height: 22rem;
}

.videoContainer {
  overflow: hidden;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  padding: 0px;
  height: 22rem;
  background-position: center;
}

.videoContainer .imageVideo {
  border-bottom-left-radius: 0px;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  height: 100%;
  margin: 0px;
  background-color: black;
}

@media (min-width: 575.98px) {
  .imageCard:hover {
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
    -webkit-transform: rotate(-3deg) scale(1.1, 1.1);
            transform: rotate(-3deg) scale(1.1, 1.1);
    border: solid rgba(0, 0, 0, 0.618);
    border-width: 1px;
    border-radius: 10px;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .videoContainer:hover {
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
    -webkit-transform: rotate(-3deg) scale(1.1, 1.1);
            transform: rotate(-3deg) scale(1.1, 1.1);
    border: solid rgba(0, 0, 0, 0.618);
    border-width: 1px;
    border-radius: 10px;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 600px) {
  .figureCard {
    margin-top: 15px;
  }
}

.disablePointerEvents {
  pointer-events: none;
}
/*# sourceMappingURL=Card.css.map */