@import '../Header/Navbar.scss';

@mixin ListStyleNone {
    
    list-style: none;
    text-decoration: none;

}

.sectionAboutMe{

    height: auto;
    padding: 5rem 0px;
    background-image: url('../../images/backgroundAbout (7).jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    overflow: hidden;
    
    @media (max-width: 768px )  {
           height: auto; 
        }
    
        @media (max-width: 900px ) and (orientation:landscape) {
            
            height: auto; 
        }
      
      
    
    

}

.figureSkillsContainer{

    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    @media (width: 1024px ) and (height:1366px) {
            
       flex-direction: column;
        
    }
    @media (width: 768px ) and (height:1024px) {
            
        flex-direction: column;
          
      }
  
            
}


.figureCaption{

    @include fontType2;
   font-size: 1.6rem;
    text-align: justify;
    margin-top: 1rem;
    border-bottom: solid ;
    border-color: rgba(75, 140, 238, 0.439);
    border-width: thin;
    text-indent: 25px;
    line-height: 2;
    font-style: italic;   
    display: flex;

  
}

.AboutMeTitle{

    display: flex;
    justify-content:flex-start;
    @include fontType2;
    font-weight: bold;
    font-size: clamp(3rem, 2vw , 2vw);
    margin-left: 3%;
    color:rgb(247, 246, 246);


}

.figure{

  
    align-self: center;
    color:rgb(251, 254, 255);
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    align-content: center;

    @media (max-width: 768px ) {   margin: 3rem auto; }
    @media (max-width: 575.98px) {   

      
        max-width: 23rem;

       	}
     @media (width: 1024px ) and (height:1366px) {
            
        margin:2em auto;
         
         }
        
}

.figureImageAbout{
   
  /*  object-fit: cover;
    object-position: 0px -50px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin: 0 auto;*/
  
    object-fit:cover;   
    object-position: -8px 1px; 
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    background-color:rgb(106, 0, 255);
    border:solid  rgba(158, 163, 181, 0.83);
    margin-bottom: 2rem;

           
}

.skillsContainer{


        display: flex;
        flex-wrap: wrap;
        justify-content:  space-evenly;
        @include fontType4;
        font-size: 2rem;
        width: 60%;
        margin:4rem ;
       
        h1{

        font-size: 5rem;
        color: rgb(0, 238, 255);;
        width: 100%;
      
       }
       h2{

        border-bottom: solid rgb(64, 175, 248);
        padding-bottom: 10px;
        width: 100%;
       }
       
        
       
        @media (max-width: 768px ) {  
            
            width: 80%;
            margin: 1rem auto;
        
        }
        @media (width: 1024px ) and (height:1366px) {
                
            margin:2em auto;
        
        }


           a{
            
            width: 30rem;
            height: 22rem;
            margin-top: 4rem;
           

            :hover{

                -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
                 -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
                 box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);

                transform: scale(1.1,1.1);
                                  
                border: solid rgba(0, 0, 0, 0.618);
                border-width: 1px;
                transition: transform 0.5s ease-in-out ;
                        
               }



               @media only screen and (max-width: 300px ){

                   
                overflow: hidden;
                width: 28rem;
                height: 18rem;
            
                  
              }





           }
            img{

                width: 100%;
                height: 100%;
                border: solid rgb(255, 255, 255);                
                -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
                cursor:pointer;
                transition: all 0.5s ease-in-out ;
                  
               



            }


}
    
.hardSkills{
    h1{

        font-size: 5rem;
        color: rgb(253, 253, 255);;
        width: 100%;
        margin-left: 7rem;
        margin-bottom: 2rem;
        @media (max-width: 768px ) { 
        
            align-self: center;
           
           
        }
        
       }

     
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 4rem;
    @include fontType4;
    font-size: 2.5rem;
    width: 100%;
    @media (max-width: 768px ) { 
        
        margin:0 auto; 
       
       
    }
    @media (width: 1024px ) and (height:1366px) {
    margin:2em auto;
      
      }



}

.productSkillsContainer{
    
  color:white;

   ul {

  
    display: flex;
    flex-direction: column;

       li{

        margin-top: 0.5rem;
       }

   }
    
    }

   
.lists{

    @include ListStyleNone;
    color: white;
  
}
.hardSkillsContainer{

    margin: 3rem;
}   

.shadow{
            
    margin-top: 5px;
    height: 8px;
    width:150px;
    border-radius: 50%;
    background-color: rgba(92, 88, 88, 0.186);

}


    @media only screen and (max-width: 600px) {
        

        .AboutMeTitle{

            justify-content: center;



        }

        

        .figureSkillsContainer{

            flex-direction: column;
            align-content: center;

            .skillsContainer{

                align-self: center;

            }
        }


      }