@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
header {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/header2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.titleHeader {
  margin-top: calc(80vh/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #040404;
}

.titleHeader h1 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: normal;
  margin-bottom: 5px;
  width: 8em;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.535);
  text-align: center;
  padding-top: 0.1em;
  width: 80%;
}

.titleHeader h2 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5px;
  background-color: rgba(0, 255, 255, 0.631);
  border-radius: 50px;
  padding: 0.2em 2em;
  text-align: center;
}

.titleHeader h3 {
  font-family: 'Didact Gothic', sans-serif;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5px;
  background-color: rgba(31, 35, 248, 0.707);
  border-radius: 10px;
  padding: 0.1em 2em;
  font-weight: lighter;
  color: white;
  padding: 0.5em 1em;
}

@media (max-width: 575.98px) {
  .titleHeader {
    margin-top: calc(90vh/3.5);
  }
  .titleHeader h1 {
    font-size: clamp(28px, 10.5vw, 10.5vw);
  }
  .titleHeader h2 {
    font-size: clamp(18px, 3vw, 3vw);
  }
  .titleHeader h3 {
    font-size: clamp(15px, 2vw, 2vw);
  }
}

@media (min-width: 575.98px) and (max-width: 768px) {
  .titleHeader {
    margin-top: calc(90vh/3.5);
  }
  .titleHeader h1 {
    font-size: clamp(44px, 8vw, 8vw);
  }
  .titleHeader h2 {
    font-size: clamp(18px, 3vw, 3vw);
  }
}

@media (min-width: 769px) {
  .titleHeader {
    margin-top: calc(80vh/2);
  }
  .titleHeader h1 {
    font-size: clamp(30px, 5vw, 5vw);
  }
  .titleHeader h2 {
    font-size: clamp(23px, 2.5vw, 2.5vw);
  }
}

.noDisplay {
  display: none;
}

.sectionAboutMe {
  height: auto;
  padding: 5rem 0px;
  background-image: url("../../images/backgroundAbout (7).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 768px) {
  .sectionAboutMe {
    height: auto;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .sectionAboutMe {
    height: auto;
  }
}

.figureSkillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (width: 1024px) and (height: 1366px) {
  .figureSkillsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (width: 768px) and (height: 1024px) {
  .figureSkillsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.figureCaption {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.6rem;
  text-align: justify;
  margin-top: 1rem;
  border-bottom: solid;
  border-color: rgba(75, 140, 238, 0.439);
  border-width: thin;
  text-indent: 25px;
  line-height: 2;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.AboutMeTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
  font-size: clamp(3rem, 2vw, 2vw);
  margin-left: 3%;
  color: #f7f6f6;
}

.figure {
  -ms-flex-item-align: center;
      align-self: center;
  color: #fbfeff;
  font-weight: lighter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 25rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 768px) {
  .figure {
    margin: 3rem auto;
  }
}

@media (max-width: 575.98px) {
  .figure {
    max-width: 23rem;
  }
}

@media (width: 1024px) and (height: 1366px) {
  .figure {
    margin: 2em auto;
  }
}

.figureImageAbout {
  /*  object-fit: cover;
    object-position: 0px -50px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin: 0 auto;*/
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -8px 1px;
     object-position: -8px 1px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #6a00ff;
  border: solid rgba(158, 163, 181, 0.83);
  margin-bottom: 2rem;
}

.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  width: 60%;
  margin: 4rem;
}

.skillsContainer h1 {
  font-size: 5rem;
  color: #00eeff;
  width: 100%;
}

.skillsContainer h2 {
  border-bottom: solid #40aff8;
  padding-bottom: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .skillsContainer {
    width: 80%;
    margin: 1rem auto;
  }
}

@media (width: 1024px) and (height: 1366px) {
  .skillsContainer {
    margin: 2em auto;
  }
}

.skillsContainer a {
  width: 30rem;
  height: 22rem;
  margin-top: 4rem;
}

.skillsContainer a :hover {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  border: solid rgba(0, 0, 0, 0.618);
  border-width: 1px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media only screen and (max-width: 300px) {
  .skillsContainer a {
    overflow: hidden;
    width: 28rem;
    height: 18rem;
  }
}

.skillsContainer img {
  width: 100%;
  height: 100%;
  border: solid white;
  -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hardSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 4rem;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  width: 100%;
}

.hardSkills h1 {
  font-size: 5rem;
  color: #fdfdff;
  width: 100%;
  margin-left: 7rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .hardSkills h1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 768px) {
  .hardSkills {
    margin: 0 auto;
  }
}

@media (width: 1024px) and (height: 1366px) {
  .hardSkills {
    margin: 2em auto;
  }
}

.productSkillsContainer {
  color: white;
}

.productSkillsContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productSkillsContainer ul li {
  margin-top: 0.5rem;
}

.lists {
  list-style: none;
  text-decoration: none;
  color: white;
}

.hardSkillsContainer {
  margin: 3rem;
}

.shadow {
  margin-top: 5px;
  height: 8px;
  width: 150px;
  border-radius: 50%;
  background-color: rgba(92, 88, 88, 0.186);
}

@media only screen and (max-width: 600px) {
  .AboutMeTitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .figureSkillsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .figureSkillsContainer .skillsContainer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=About.css.map */