@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
header {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/header2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.titleHeader {
  margin-top: calc(80vh/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #040404;
}

.titleHeader h1 {
  font-family: 'Prata', serif;
  font-size: 20px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: normal;
  margin-bottom: 5px;
  height: 1em;
  width: 8em;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.535);
  text-align: center;
  padding-bottom: 1em;
  padding-top: 0.1em;
  width: 80%;
}

.titleHeader h2 {
  font-family: 'Prata', serif;
  font-size: 2px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5px;
  background-color: rgba(0, 255, 255, 0.631);
  border-radius: 50px;
  padding: 0.1em 2em;
}

.titleHeader div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titleHeader div h3 {
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2px;
  border-radius: 50px;
  background-color: rgba(11, 143, 143, 0.878);
  padding: 0.3em 0.3em;
  cursor: pointer;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes slide {
  from {
    border: solid #090909 0.5px;
  }
  to {
    border: solid white 0.5px;
    color: white;
  }
}

@keyframes slide {
  from {
    border: solid #090909 0.5px;
  }
  to {
    border: solid white 0.5px;
    color: white;
  }
}

.titleHeader div span {
  color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  top: -0.3em;
  cursor: pointer;
  -webkit-animation-name: goDown;
          animation-name: goDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes goDown {
  from {
    margin-top: 0.1em;
  }
  to {
    margin-top: 0.2em;
  }
}

@keyframes goDown {
  from {
    margin-top: 0.1em;
  }
  to {
    margin-top: 0.2em;
  }
}

@media (max-width: 575.98px) {
  .titleHeader {
    margin-top: calc(90vh/2);
  }
  .titleHeader h1 {
    font-size: clamp(28px, 10.5vw, 10.5vw);
  }
  .titleHeader h2 {
    font-size: clamp(18px, 3vw, 3vw);
  }
  .titleHeader div h3, .titleHeader div span {
    font-size: clamp(15px, 3vw, 3vw);
  }
}

@media (min-width: 575.98px) and (max-width: 768px) {
  .titleHeader {
    margin-top: calc(90vh/2.5);
  }
  .titleHeader h1 {
    font-size: clamp(44px, 8vw, 8vw);
  }
  .titleHeader h2 {
    font-size: clamp(18px, 3vw, 3vw);
  }
  .titleHeader div h3, .titleHeader div span {
    font-size: clamp(15px, 3vw, 3vw);
  }
}

@media (min-width: 769px) {
  .titleHeader {
    margin-top: calc(80vh/2);
  }
  .titleHeader h1 {
    font-size: clamp(61px, 6vw, 6vw);
  }
  .titleHeader h2 {
    font-size: clamp(23px, 2.5vw, 2.5vw);
  }
  .titleHeader div h3, .titleHeader div span {
    font-size: clamp(23px, 1.8vw, 1.8vw);
  }
}

.noDisplay {
  display: none;
}

header div h3:hover {
  background-color: rgba(248, 248, 248, 0.878);
  border: solid rgba(11, 143, 143, 0.878);
  border-width: 1px;
  color: rgba(11, 143, 143, 0.878);
  -webkit-animation-iteration-count: 0;
          animation-iteration-count: 0;
}

.sectionAboutMe {
  height: 100vh;
  padding: 3rem 0px;
}

@media (max-width: 768px) {
  .sectionAboutMe {
    height: auto;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .sectionAboutMe {
    height: auto;
  }
}

@media (width: 768px) and (height: 1024px) {
  .sectionAboutMe {
    height: 100vh;
  }
}

.figureSkillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (width: 1024px) and (height: 1366px) {
  .figureSkillsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (width: 768px) and (height: 1024px) {
  .figureSkillsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.figureCaption {
  font-family: 'Prata', serif;
  font-weight: bold;
  text-align: justify;
  margin-top: 1rem;
  border-bottom: solid;
  border-color: rgba(135, 125, 125, 0.405);
  border-width: thin;
  text-indent: 25px;
  line-height: 2;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.AboutMeTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Prata', serif;
  font-weight: bold;
  font-size: clamp(2rem, 2vw, 2vw);
  margin-left: 3%;
  color: #615b5b;
}

.figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 25rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 768px) {
  .figure {
    margin: 0 auto;
  }
}

@media (max-width: 575.98px) {
  .figure {
    max-width: 23rem;
  }
}

@media (width: 1024px) and (height: 1366px) {
  .figure {
    margin: 2em auto;
  }
}

.figureImageAbout {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -50px;
     object-position: 0px -50px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .figureImageAbout {
    -o-object-position: 0px -40px;
       object-position: 0px -40px;
    width: 245px;
    height: 245px;
    border-radius: 50%;
  }
}

.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3rem;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  margin-left: 5%;
}

@media (max-width: 768px) {
  .skillsContainer {
    margin: 0 auto;
  }
}

@media (width: 1024px) and (height: 1366px) {
  .skillsContainer {
    margin: 2em auto;
  }
}

.programmingContainer {
  margin-right: 5%;
  margin-left: 5%;
}

.programmingList {
  list-style: none;
  text-decoration: none;
  margin-top: 5px;
}

.managementList {
  list-style: none;
  text-decoration: none;
}

.designList {
  list-style: none;
  text-decoration: none;
  margin-top: 5px;
}

.shadow {
  margin-top: 5px;
  height: 7px;
  width: 120px;
  border-radius: 50%;
  background-color: rgba(92, 88, 88, 0.131);
}

.manageDesignContainer {
  padding-right: 3rem;
}

@media only screen and (max-width: 600px) {
  .AboutMeTitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .figureSkillsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .figureSkillsContainer .skillsContainer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=About.css.map */