@import '../Header/Navbar.scss';

@mixin ListStyleNone {
    
    list-style: none;
    text-decoration: none;

}

.sectionAboutMe{

    height: 100vh;
    padding: 3rem 0px;
    
    @media (max-width: 768px )  {
           height: auto; 
        }
    
        @media (max-width: 900px ) and (orientation:landscape) {
            
            height: auto; 
        }
      
        @media (width: 768px ) and (height:1024px) {
            
            height: 100vh;
              
          }
      
    
    

}

.figureSkillsContainer{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (width: 1024px ) and (height:1366px) {
            
       flex-direction: column;
        
    }
    @media (width: 768px ) and (height:1024px) {
            
        flex-direction: column;
          
      }
  
            
}


.figureCaption{

    @include fontType2;
    font-weight: bold;
    text-align: justify;
    margin-top: 1rem;
    border-bottom: solid ;
    border-color: rgba(135, 125, 125, 0.405);
    border-width: thin;
    text-indent: 25px;
    line-height: 2;
    font-style: italic;   
    display: flex;

  
}

.AboutMeTitle{

    display: flex;
    justify-content:flex-start;
    @include fontType2;
    font-weight: bold;
    font-size: clamp(2rem, 2vw , 2vw);
    margin-left: 3%;
    color:rgb(97, 91, 91);


}

.figure{
    
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    align-content: center;
    @media (max-width: 768px ) {   margin: 0 auto; }
    @media (max-width: 575.98px) {   

      
        max-width: 23rem;

       	}
     @media (width: 1024px ) and (height:1366px) {
            
        margin:2em auto;
         
         }
        
}

.figureImageAbout{
   
    object-fit: cover;
    object-position: 0px -50px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin: 0 auto;
   
   
    @media (max-width: 575.98px) {   

        object-position: 0px -40px;
        width: 245px;
        height: 245px;
        border-radius: 50%;


       	}
}

.skillsContainer{
   
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    justify-content:  space-around;
    margin-top: 3rem;
    @include fontType4;
    font-size: 2rem;
    margin-left: 5%;
    @media (max-width: 768px ) {   margin: 0 auto; }
    @media (width: 1024px ) and (height:1366px) {
            
        margin:2em auto;
      
      }
}
    
.managementContainer{   
        
    
    @media (max-width: 575.98px) {   

     

       	}   
  
}

.programmingContainer{

margin-right: 5%;
margin-left: 5%;

}



   
.programmingList{

    @include ListStyleNone;
    margin-top: 5px;
        

}
    
.managementList{

    @include ListStyleNone;
        
}
    
.designList{

    @include ListStyleNone;
    margin-top: 5px;

}
    
.shadow{
            
    margin-top: 5px;
    height: 7px;
    width:120px;
    border-radius: 50%;
    background-color: rgba(92, 88, 88, 0.131);

}
.manageDesignContainer{


    
    padding-right: 3rem;
    
    @media (max-width: 575.98px) {   

   
      

       	}


}

    @media only screen and (max-width: 600px) {
        

        .AboutMeTitle{

            justify-content: center;



        }

        

        .figureSkillsContainer{

            flex-direction: column;
            align-content: center;

            .skillsContainer{

                align-self: center;

            }
        }


      }