@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
header {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/header2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.titleHeader {
  margin-top: calc(80vh/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #040404;
}

.titleHeader h1 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: normal;
  margin-bottom: 5px;
  width: 8em;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.535);
  text-align: center;
  padding-top: 0.1em;
  width: 80%;
}

.titleHeader h2 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5px;
  background-color: rgba(0, 255, 255, 0.631);
  border-radius: 50px;
  padding: 0.2em 2em;
  text-align: center;
}

.titleHeader h3 {
  font-family: 'Didact Gothic', sans-serif;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5px;
  background-color: rgba(31, 35, 248, 0.707);
  border-radius: 10px;
  padding: 0.1em 2em;
  font-weight: lighter;
  color: white;
  padding: 0.5em 1em;
}

@media (max-width: 575.98px) {
  .titleHeader {
    margin-top: calc(90vh/3.5);
  }
  .titleHeader h1 {
    font-size: clamp(28px, 10.5vw, 10.5vw);
  }
  .titleHeader h2 {
    font-size: clamp(18px, 3vw, 3vw);
  }
  .titleHeader h3 {
    font-size: clamp(15px, 2vw, 2vw);
  }
}

@media (min-width: 575.98px) and (max-width: 768px) {
  .titleHeader {
    margin-top: calc(90vh/3.5);
  }
  .titleHeader h1 {
    font-size: clamp(44px, 8vw, 8vw);
  }
  .titleHeader h2 {
    font-size: clamp(18px, 3vw, 3vw);
  }
}

@media (min-width: 769px) {
  .titleHeader {
    margin-top: calc(80vh/2);
  }
  .titleHeader h1 {
    font-size: clamp(30px, 5vw, 5vw);
  }
  .titleHeader h2 {
    font-size: clamp(23px, 2.5vw, 2.5vw);
  }
}

.noDisplay {
  display: none;
}

.containerContactSection {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.919);
  padding-top: 20px;
}

.contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 80px;
}

@media (width: 1024px) and (height: 1366px) {
  .contactSection {
    margin-top: calc(50vh/2);
  }
}

.contactSection .ulContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 60px;
}

.contactSection .ulContact li {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Didact Gothic', sans-serif;
  text-decoration: none;
}

.contactSection .ulContact li h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

.contactSection .ulContact li a {
  text-decoration: none;
  font-family: 'Didact Gothic', sans-serif;
  color: white;
}

.contactSection .ulContact li a:hover {
  color: #6a69ba;
  cursor: pointer;
}

.contactSection figure {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contactSection figure span {
  position: absolute;
  margin: -15px -15px;
  font-size: 50px;
  font-weight: bolder;
  border-radius: 100%;
}

.contactSection figure img {
  width: 230px;
  height: 230px;
  border-radius: 10px;
  border: solid rgba(124, 122, 122, 0.159);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 600px) {
  .contactSection #whapQr {
    display: none;
  }
}

.messageFooter {
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  font-weight: lighter;
}

.messageFooter cite {
  font-style: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.ContactTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 3%;
  color: #e9e3e3;
}

.messageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  text-align: justify;
  margin-right: 5%;
  margin-left: 5%;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 767px) {
  .containerContactSection {
    height: auto;
    padding-bottom: 100px;
  }
  .contactSection {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: auto;
  }
  .ulContact {
    margin-bottom: 20px;
  }
  .ulContact li#email {
    font-size: clamp(1.5rem, 3vw, 3vw);
  }
  .ulContact a {
    font-size: clamp(1.5rem, 3vw, 3vw);
  }
  .messageContainer {
    display: none;
  }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .containerContactSection {
    height: auto;
  }
}
/*# sourceMappingURL=Contact.css.map */