@import '../Header/Navbar.scss';

.containerContactSection{

    height: 100vh;
    background-color: rgba(0, 0, 0, 0.919);
    padding-top: 20px;


}


.contactSection{


display: flex;
justify-content:space-evenly;
margin-top: 80px;
@media (width: 1024px ) and (height:1366px) {
            
   margin-top: calc(50vh/2);
     
 }
               

.ulContact{
    

display:flex;
flex-direction: column;
justify-content: center;
align-content: center;                
margin-top: 60px;

               

                li{
                    color: white;
                    align-self: center;
                    list-style: none;
                    margin-top: 20px;
                    font-size: 20px; 
                    @include fontType2;       
                    text-decoration: none;
                    h2{
                        @include fontType3;
                        font-size: 40px;
                    }

                    a{
                        text-decoration: none;
                        @include fontType2;    
                       color: white;


                    }
                    a:hover{
                        color: rgb(106, 105, 186);
                                                       
                        cursor: pointer;
                         
                      
                       
                            

                    }
                    
                            
                }

}

figure{
                   
    position: relative;
   align-self: flex-end;
   
                span{
                    position: absolute;
                    margin: -15px -15px;
                    font-size: 50px;
                    font-weight: bolder;
                    border-radius: 100%;
               
                   
                  
                }
                img{
                    width: 230px;
                    height: 230px;
                    border-radius: 10px;
                    border: solid rgba(124, 122, 122, 0.159);
                    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
                  
                
                }}


                
@media only screen and (max-width: 600px) {


#whapQr{


    display: none;
}



}
}
.messageFooter{
   
color: white;
@include fontType5;
font-size: 25px;
font-weight: lighter;



cite{

    font-style: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

}

.ContactTitle{

    display: flex;
    justify-content:center;
    @include fontType2;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 3%;
    color:rgb(233, 227, 227);


}

.messageContainer{

   
display: flex;
justify-content: center;
margin-top: 100px;
text-align: justify;
margin-right: 5%;
margin-left: 5%;


}


/*MEDIA QUERIES*/


@media only screen and (max-width: 767px) {

    
    .containerContactSection{
    
    height: auto;
    padding-bottom: 100px;
    }
            

        .contactSection{

            flex-wrap: wrap;
            margin-top: auto;


            }

            .ulContact{

                margin-bottom: 20px;
               
               li#email{
                   font-size: clamp(1.5rem,3vw,3vw);
                
                   
                }
                a{

                    font-size: clamp(1.5rem,3vw,3vw);

                }

            } 
    


            .messageContainer{

   
                
             display: none;
            }






    }

    @media only screen and (max-width: 1000px) and (orientation:landscape){

        .containerContactSection{
        height: auto;}


    }