@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
header {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/header2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.titleHeader {
  margin-top: calc(80vh/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #040404;
}

.titleHeader h1 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: normal;
  margin-bottom: 5px;
  width: 8em;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.535);
  text-align: center;
  padding-top: 0.1em;
  width: 80%;
}

.titleHeader h2 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5px;
  background-color: rgba(0, 255, 255, 0.631);
  border-radius: 50px;
  padding: 0.2em 2em;
  text-align: center;
}

.titleHeader h3 {
  font-family: 'Didact Gothic', sans-serif;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5px;
  background-color: rgba(31, 35, 248, 0.707);
  border-radius: 10px;
  padding: 0.1em 2em;
  font-weight: lighter;
  color: white;
  padding: 0.5em 1em;
}

@media (max-width: 575.98px) {
  .titleHeader {
    margin-top: calc(90vh/3.5);
  }
  .titleHeader h1 {
    font-size: clamp(28px, 10.5vw, 10.5vw);
  }
  .titleHeader h2 {
    font-size: clamp(18px, 3vw, 3vw);
  }
  .titleHeader h3 {
    font-size: clamp(15px, 2vw, 2vw);
  }
}

@media (min-width: 575.98px) and (max-width: 768px) {
  .titleHeader {
    margin-top: calc(90vh/3.5);
  }
  .titleHeader h1 {
    font-size: clamp(44px, 8vw, 8vw);
  }
  .titleHeader h2 {
    font-size: clamp(18px, 3vw, 3vw);
  }
}

@media (min-width: 769px) {
  .titleHeader {
    margin-top: calc(80vh/2);
  }
  .titleHeader h1 {
    font-size: clamp(30px, 5vw, 5vw);
  }
  .titleHeader h2 {
    font-size: clamp(23px, 2.5vw, 2.5vw);
  }
}

.noDisplay {
  display: none;
}

.sectionProjects {
  height: auto;
  background-color: rgba(0, 85, 255, 0.391);
  padding: 5rem 0px;
}

@media only screen and (max-width: 1000px) {
  .sectionProjects {
    height: auto;
  }
}

@media (max-width: 1000px) and (orientation: landscape) {
  .sectionProjects {
    height: auto;
  }
}

.projectsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectsTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
  font-size: clamp(3rem, 2vw, 2vw);
  margin-left: 3%;
  margin-bottom: 3rem;
  color: #f8eeee;
}

@media only screen and (max-width: 600px) {
  .projectsTitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=Projects.css.map */