@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
header {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/header2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.titleHeader {
  margin-top: calc(80vh/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #040404;
}

.titleHeader h1 {
  font-family: 'Prata', serif;
  font-size: 20px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: normal;
  margin-bottom: 5px;
  height: 1em;
  width: 8em;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.535);
  text-align: center;
  padding-bottom: 1em;
  padding-top: 0.1em;
  width: 80%;
}

.titleHeader h2 {
  font-family: 'Prata', serif;
  font-size: 2px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5px;
  background-color: rgba(0, 255, 255, 0.631);
  border-radius: 50px;
  padding: 0.1em 2em;
}

.titleHeader div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titleHeader div h3 {
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2px;
  border-radius: 50px;
  background-color: rgba(11, 143, 143, 0.878);
  padding: 0.3em 0.3em;
  cursor: pointer;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes slide {
  from {
    border: solid #090909 0.5px;
  }
  to {
    border: solid white 0.5px;
    color: white;
  }
}

@keyframes slide {
  from {
    border: solid #090909 0.5px;
  }
  to {
    border: solid white 0.5px;
    color: white;
  }
}

.titleHeader div span {
  color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  top: -0.3em;
  cursor: pointer;
  -webkit-animation-name: goDown;
          animation-name: goDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes goDown {
  from {
    margin-top: 0.1em;
  }
  to {
    margin-top: 0.2em;
  }
}

@keyframes goDown {
  from {
    margin-top: 0.1em;
  }
  to {
    margin-top: 0.2em;
  }
}

@media (max-width: 575.98px) {
  .titleHeader {
    margin-top: calc(90vh/2);
  }
  .titleHeader h1 {
    font-size: clamp(28px, 10.5vw, 10.5vw);
  }
  .titleHeader h2 {
    font-size: clamp(18px, 3vw, 3vw);
  }
  .titleHeader div h3, .titleHeader div span {
    font-size: clamp(15px, 3vw, 3vw);
  }
}

@media (min-width: 575.98px) and (max-width: 768px) {
  .titleHeader {
    margin-top: calc(90vh/2.5);
  }
  .titleHeader h1 {
    font-size: clamp(44px, 8vw, 8vw);
  }
  .titleHeader h2 {
    font-size: clamp(18px, 3vw, 3vw);
  }
  .titleHeader div h3, .titleHeader div span {
    font-size: clamp(15px, 3vw, 3vw);
  }
}

@media (min-width: 769px) {
  .titleHeader {
    margin-top: calc(80vh/2);
  }
  .titleHeader h1 {
    font-size: clamp(61px, 6vw, 6vw);
  }
  .titleHeader h2 {
    font-size: clamp(23px, 2.5vw, 2.5vw);
  }
  .titleHeader div h3, .titleHeader div span {
    font-size: clamp(23px, 1.8vw, 1.8vw);
  }
}

.noDisplay {
  display: none;
}

header div h3:hover {
  background-color: rgba(248, 248, 248, 0.878);
  border: solid rgba(11, 143, 143, 0.878);
  border-width: 1px;
  color: rgba(11, 143, 143, 0.878);
  -webkit-animation-iteration-count: 0;
          animation-iteration-count: 0;
}

.openNavbar {
  position: fixed;
  background-color: rgba(84, 81, 81, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 999;
  max-width: 100vw;
  max-height: 100vh;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.openNavbar div {
  background-color: #545151;
  height: 10%;
  min-height: 4rem;
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.openNavbar div button {
  border: none;
  background-color: rgba(84, 81, 81, 0.85);
}

.openNavbar div button span {
  color: rgba(170, 166, 166, 0.85);
  font-size: 3.5rem;
}

.openNavbar .ulNavbarResponsive {
  color: #f7f5f5;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.openNavbar .ulNavbarResponsive li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: bold;
}

.openNavbar li:hover {
  color: black;
  -webkit-box-shadow: 0px 9px 6px -11px white;
  box-shadow: 0px 9px 6px -11px white;
}

.closeNavbar {
  position: fixed;
  background-color: rgba(84, 81, 81, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 999;
  max-width: 100vw;
  max-height: 100vh;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  left: -100vw;
}

.closeNavbar div {
  background-color: #545151;
  height: 10%;
  min-height: 4rem;
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.closeNavbar div button {
  border: none;
  background-color: rgba(84, 81, 81, 0.85);
}

.closeNavbar div button span {
  color: rgba(170, 166, 166, 0.85);
  font-size: 3.5rem;
}

.closeNavbar .ulNavbarResponsive {
  color: #f7f5f5;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.closeNavbar .ulNavbarResponsive li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: bold;
}

.closeNavbar li:hover {
  color: black;
  -webkit-box-shadow: 0px 9px 6px -11px white;
  box-shadow: 0px 9px 6px -11px white;
}

#buttonNavbarOpen:hover {
  cursor: pointer;
}

#buttonNavbarOpen:hover span {
  color: white;
}

#floatingButton {
  color: black;
  width: 10%;
  height: 3.5%;
  max-width: 40px;
  min-height: 25px;
  border-radius: 5px;
  position: fixed;
  right: 5%;
  top: 3rem;
  background-color: rgba(84, 81, 81, 0.85);
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

#floatingButton span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
}

#floatingButton:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.noDisplay {
  display: none;
}

.index {
  color: black;
  cursor: none;
  pointer-events: none;
}
/*# sourceMappingURL=NavbarMobile.css.map */