@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
header {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/header2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.titleHeader {
  margin-top: calc(80vh/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #040404;
}

.titleHeader h1 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: normal;
  margin-bottom: 5px;
  width: 8em;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.535);
  text-align: center;
  padding-top: 0.1em;
  width: 80%;
}

.titleHeader h2 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5px;
  background-color: rgba(0, 255, 255, 0.631);
  border-radius: 50px;
  padding: 0.2em 2em;
  text-align: center;
}

.titleHeader h3 {
  font-family: 'Didact Gothic', sans-serif;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5px;
  background-color: rgba(31, 35, 248, 0.707);
  border-radius: 10px;
  padding: 0.1em 2em;
  font-weight: lighter;
  color: white;
  padding: 0.5em 1em;
}

@media (max-width: 575.98px) {
  .titleHeader {
    margin-top: calc(90vh/3.5);
  }
  .titleHeader h1 {
    font-size: clamp(28px, 10.5vw, 10.5vw);
  }
  .titleHeader h2 {
    font-size: clamp(18px, 3vw, 3vw);
  }
  .titleHeader h3 {
    font-size: clamp(15px, 2vw, 2vw);
  }
}

@media (min-width: 575.98px) and (max-width: 768px) {
  .titleHeader {
    margin-top: calc(90vh/3.5);
  }
  .titleHeader h1 {
    font-size: clamp(44px, 8vw, 8vw);
  }
  .titleHeader h2 {
    font-size: clamp(18px, 3vw, 3vw);
  }
}

@media (min-width: 769px) {
  .titleHeader {
    margin-top: calc(80vh/2);
  }
  .titleHeader h1 {
    font-size: clamp(30px, 5vw, 5vw);
  }
  .titleHeader h2 {
    font-size: clamp(23px, 2.5vw, 2.5vw);
  }
}

.noDisplay {
  display: none;
}

.openNavbar {
  position: fixed;
  background-color: #545151;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 999;
  max-width: 100vw;
  max-height: 100vh;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.openNavbar div {
  background-color: #545151;
  height: 10%;
  min-height: 4rem;
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.openNavbar div button {
  border: none;
  background-color: rgba(84, 81, 81, 0.85);
}

.openNavbar div button span {
  color: rgba(170, 166, 166, 0.85);
  font-size: 3.5rem;
}

.openNavbar .ulNavbarResponsive {
  color: black;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.openNavbar .ulNavbarResponsive li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: bold;
}

.openNavbar li:hover {
  color: white;
  -webkit-box-shadow: 0px 9px 6px -11px white;
  box-shadow: 0px 9px 6px -11px white;
}

.closeNavbar {
  position: fixed;
  background-color: #545151;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 999;
  max-width: 100vw;
  max-height: 100vh;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  left: -100vw;
}

.closeNavbar div {
  background-color: #545151;
  height: 10%;
  min-height: 4rem;
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.closeNavbar div button {
  border: none;
  background-color: rgba(84, 81, 81, 0.85);
}

.closeNavbar div button span {
  color: rgba(170, 166, 166, 0.85);
  font-size: 3.5rem;
}

.closeNavbar .ulNavbarResponsive {
  color: black;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.closeNavbar .ulNavbarResponsive li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: bold;
}

.closeNavbar li:hover {
  color: white;
  -webkit-box-shadow: 0px 9px 6px -11px white;
  box-shadow: 0px 9px 6px -11px white;
}

#buttonNavbarOpen:hover {
  cursor: pointer;
}

#buttonNavbarOpen:hover span {
  color: white;
}

#floatingButton {
  color: black;
  width: 10%;
  height: 3.5%;
  max-width: 40px;
  min-height: 25px;
  border-radius: 5px;
  position: fixed;
  right: 5%;
  top: 3rem;
  background-color: rgba(84, 81, 81, 0.85);
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

#floatingButton span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
}

#floatingButton:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.noDisplay {
  display: none;
}

.index {
  color: #fcfcfc;
  cursor: none;
  pointer-events: none;
}
/*# sourceMappingURL=NavbarMobile.css.map */