@mixin fontType1 {
    @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
    font-family: 'Fredericka the Great', cursive;
}

@mixin fontType2 {
    @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
    font-family: 'Didact Gothic', sans-serif;
}

@mixin fontType3 {
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
    font-family: 'Oswald', sans-serif;
}
@mixin fontType4 {
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
    font-family: 'Oswald', sans-serif;
}

@mixin fontType5 {
    @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
    font-family: 'Satisfy', cursive;
}



    
header{
width: 100%;
height: 100vh;
background-image: url('../../images/header2.jpg');
background-position:center;
background-repeat: no-repeat;
background-size:cover;
overflow: hidden;

}



.titleHeader{
margin-top: calc(80vh/2);
display: flex;
flex-direction: column;
color: rgb(4, 4, 4);





        h1{
           
            @include fontType2;
            font-size: 20px;
            margin: 0 auto; 
            align-self: center;   
            font-weight: normal;
            margin-bottom: 5px;
            width: 8em;
            border-radius: 50px;           
            background-color: rgba(255, 255, 255, 0.535);
            text-align: center;           
            padding-top: 0.1em;
            width: 80%;
            
            
        }

        h2{

           
            @include fontType2;
            font-size: 2px;
            margin: 0 auto; 
            align-self: center; 
            margin-bottom: 5px;
            background-color: rgba(0, 255, 255, 0.631);
            border-radius: 50px;   
            padding: 0.2em 2em;
            text-align: center;
           
         }
         
         h3{
            @include fontType2;
            margin: 0 auto; 
            align-self: center; 
            margin-bottom: 5px;
            background-color: rgba(31, 35, 248, 0.707);
            border-radius: 10px;   
            padding: 0.1em 2em;
            font-weight: lighter;
            color: white;
            padding: 0.5em 1em;
         }
        


         @media (max-width: 575.98px) {

            
                margin-top: calc(90vh/3.5);
                h1{
           
                    
                    font-size: clamp(28px, 10.5vw ,10.5vw);
                  
                }
                h2{
    
                   
                  
                    font-size: clamp(18px, 3vw ,3vw);
                   
                }
                h3{
    
                   
                  
                    font-size: clamp(15px, 2vw ,2vw);
                   
                }
               
        


          }

         
         @media (min-width: 575.98px) and (max-width: 768px)  {
             
            margin-top: calc(90vh/3.5);
           
            h1{
       
                
                font-size: clamp(44px, 8vw ,8vw);
              
            }
            h2{
    
               
              
                font-size: clamp(18px, 3vw ,3vw);
               
            }
         

            }
             @media (min-width: 769px)  {

                margin-top: calc(80vh/2);
           
                h1{
           
                    
                    font-size: clamp(30px, 5vw ,5vw);
                  
                }
                h2{
        
                   
                  
                    font-size: clamp(23px, 2.5vw ,2.5vw);
                   
                }
             



             }
     }
         

      





.noDisplay{

display: none;

}








