@import './Navbar.scss';



@mixin navbarMobile {
    
   
   
        position: fixed;
        background-color: rgba(84, 81, 81, 0.85);
         display: flex;
        flex-direction: column;
        z-index: 999;
        
        max-width: 100vw;
        max-height: 100vh;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
       
        div {
    
            background-color: rgb(84, 81, 81);
            height: 10%;
            min-height: 4rem;
            padding-top: 3px;
            padding-bottom: 3px;
            border: none;
            display: flex;
            justify-content: flex-end;
            
            
            button{
                
                
                border:none;
                background-color:  rgba(84, 81, 81, 0.85);
                
                            span{
                                color:rgba(170, 166, 166, 0.85); 
                                font-size: 3.5rem;
                              
                               
                                
                            }
                        }
        
        
        
        
        
                        }
    
    
                        .ulNavbarResponsive{
        
                            color: rgb(247, 245, 245);
                            height: 100%;
                            width: 100%;
                          
                            display: flex;
                            flex-direction: column;
                            justify-content:space-evenly;
                            
                            
                                li{
                                    
                                    flex: 1;
                                    cursor: pointer;
                                    @include fontType3;
                                    font-size: 2rem;
                                    display:flex;
                                     flex-direction: column;
                                    justify-content: center;
                                    text-align: center;
                                    font-weight: bold;
                                }
                        
                        
                        
                            }


                            li:hover{
        
                                color: black;
                               
                                -webkit-box-shadow: 0px 9px 6px -11px rgba(255,255,255,1);
                            -moz-box-shadow: 0px 9px 6px -11px rgba(255,255,255,1);
                            box-shadow: 0px 9px 6px -11px rgba(255,255,255,1);
                            }
                        
        
    }




.openNavbar{

@include navbarMobile;

}


.closeNavbar{
    
    
    @include navbarMobile;
    left: -100vw;
 
   
   
}

#buttonNavbarOpen:hover{
    cursor: pointer;

    span{

        color: white;

    }

    


}

#floatingButton{

color:black;
width: 10%;
height: 3.5%;
max-width: 40px;
min-height: 25px;
border-radius: 5px;
position: fixed;
right: 5%;
top: 3rem;
background-color:  rgba(84, 81, 81, 0.85); 
border: none;
cursor:pointer;
display: flex;
flex-direction: column;
justify-content: center;
z-index: 1;

span{
align-self: center;
font-size: 18px;




}

}

#floatingButton:hover{
    transform: scale(1);

}




.noDisplay{

    display: none;
    
    }
    


   
    
    .index{

        color: black;
        cursor: none;
        pointer-events: none;
        }